.info-modal {
  width: auto;
  max-width: 400px;
  text-align: center;
}

.info-modal p {
  font-size: 16px;
  margin-bottom: 20px;
}

/* Dark mode styles for the modal */
body.dark .info-modal {
  background-color: #333; /* Dark background for the modal */
  color: #f0f0f0; /* Light text color */
}

body.dark .info-modal p {
  color: #f0f0f0; /* Ensure paragraph text is also light */
}

.accept-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: white;
  background-color: #007bff; /* Azul para el botón de aceptar */
}

.accept-btn:hover {
  background-color: #0056b3;
}
